/* Dimensiones de Clases CSS */

.body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.containerInformation{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

h1{
  font-size: 3.5rem;
  font-weight: 500;
  font-family:var(--font-family);
  color: var(--bs-gray-400);
}

span{
  font-family: var(--font-family);
  color: var(--color-accent);
}

p{
  text-align: justify;
  font-family: var(--font-family);
  color: var(--bs-gray-ccc);
}

.containerImages{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.logo-espoch{
  width: 200px;
}

.logo-frase{
  width: 250px;
}

@media screen and (max-width: 768px){
  p{
    text-align: justify;
    font-family: var(--font-family);
    color: var(--bs-gray-ccc);
  }
}

@media screen and (max-width: 600px){
  .body{
    flex-direction: column;
  }
  .containerInformation{
    width: 100%;
    height: 50%;
  }
  .containerImages{
    width: 100%;
    height: 50%;
  }
  .logo-espoch{
    width: 150px;
  }
  .logo-frase{
    width: 200px;
  }

  h1{
    margin: 10px;
    font-size: 30px;
    font-family:var(--font-family);
    color: var(--bs-gray-400);
  }

  p{
    font-size: 12px;
  }

  .logo-espoch{
    width: 100px;
  }

  .logo-frase{
    width: 150px;
  }
}
