<div class="body">
  <div class="containerInformation">
    <h1>
      SISTEMA SEGUIMIENTO
      <br />
      <span>DE INCIDENCIAS</span>
    </h1>

    <p>
      Sistema para el registro y seguimiento de incidencias, diseñada para
      mantener un control de las incidencias que se presentan en los
      sistemas informáticos de la Escuela Superior Politécnica de Chimborazo.
    </p>
  </div>

  <div class="containerImages">
    <img
      class="logo-espoch"
      src="../../../../assets/img/logo-espoch.svg"
      alt="logo-espoch"
    />
    <img
      class="logo-frase"
      src="../../../../assets/img/logo-hacemos-historia-1.png"
      alt="logo-frase"
    />
  </div>
</div>

