
<h2>Carga e Importación de Datos</h2>
  <form [formGroup]="myForm" #FileUpload enctype="multipart/form-data" *ngIf="tablaInfo===false">


      <button class="btn-archivo" (click)="fileInput.click()">
        Seleccionar Archivo
      </button>

      <input type="file" formControlName="archivo" required (change)="selectFile($event)" accept=".csv" #fileInput
        style="display:none">
  </form>
  <button  (click)="importData()" [disabled]="myForm.invalid">Importar</button>

  <div class="previsualizar">
    <label *ngIf="dataLength > 0">Cantidad de Registros: {{dataLength}}</label>
    <table class="table-Fill" id="miTabla" *ngIf="mostrarTable">
      <thead>
        <tr>
          <th *ngIf="fileLoaded">#</th> <!-- Agregar encabezado para el número de fila -->
          <th *ngFor="let column of columns">
            {{column.toUpperCase()}}
          </th>
        </tr>
      </thead>
      <tbody class="tablo-Hover">
        <ng-container *ngIf="data && data.length > 1"> <!-- Asegúrate de que data esté definido y tenga más de una fila -->
          <tr *ngFor="let row of data.slice(0, 5); let i = index">
            <ng-container *ngIf="fileLoaded"> <!-- Condición para mostrar el número de fila -->
              <td>{{i + 1}}</td>
            </ng-container>
            <td *ngFor="let column of columns">
              {{row[column]}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>






