<div class="body">
  <div class="containerMain">
    <div class="containerMessage">
      <h1>No se pudo validar el usuario por un error.</h1>
      <h4>Error: {{messageCasError}} </h4>
      <a class="a-noResponsive" routerLink="/">
        <i class="material-icons">exit_to_app</i>
        Regresar a Inicio
      </a>
    </div>

    <div class="containerImage">
      <img class="logo-espoch" src="../../../assets/img/logo-espoch.svg" alt="logo-espoch">
      <img class="logo-historia" src="../../../assets/img/logo-hacemos-historia-1.png" alt="logo-Historia">
      <a class="a-responsive" routerLink="/">
        <i class="material-icons">exit_to_app</i>
        Regresar a Inicio
      </a>
    </div>

    </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

