<div class="modal fade" id="modalGeneral" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title fs-5" id="titleModal">{{ titleModal }}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="modalClose"
          (click)="cerrarModal()"
        >X</button>
      </div>
      <div class="modal-body">
        <div [ngSwitch]="tipoFormulario">


          <div *ngSwitchCase="'editarUsuario'">
            <app-editar-usuario></app-editar-usuario>
          </div>

          <div *ngSwitchCase="'nuevoUsuario'">
            <app-agregar-usuario></app-agregar-usuario>
          </div>

          <div *ngSwitchCase="'editarRol'">
            <app-editar-rol></app-editar-rol>
          </div>

          <div *ngSwitchCase="'nuevoRol'">
            <app-agregar-rol></app-agregar-rol>
          </div>

          <div *ngSwitchCase="'editarMenu'">
            <app-editar-menu></app-editar-menu>
          </div>

          <div *ngSwitchCase="'nuevoMenu'">
            <app-agregar-menu></app-agregar-menu>
          </div>

          <div *ngSwitchCase="'usuarioRol'">
            <app-agregar-perfiles></app-agregar-perfiles>
          </div>

          <div *ngSwitchCase="'editarPermisos'">
            <app-editar-permisos></app-editar-permisos>
          </div>

          <div *ngSwitchCase="'verIncidencia'">
            <app-infoIncidencia></app-infoIncidencia>
          </div>

          <div *ngSwitchCase="'crearTicket'">
            <app-crearTicket></app-crearTicket>
          </div>

          <div *ngSwitchCase="'nuevoEstado'">
            <app-agregar-estado></app-agregar-estado>
          </div>
          <div *ngSwitchCase="'editarEstado'">
            <app-editar-estado></app-editar-estado>
          </div>

          <div *ngSwitchCase="'nuevoServicio'">
            <app-agregar-servicio></app-agregar-servicio>
          </div>

          <div *ngSwitchCase="'editarServicio'">
            <app-editar-servicio></app-editar-servicio>
          </div>

          <div *ngSwitchCase="'verTicket'">
            <app-ver-ticket></app-ver-ticket>
          </div>
          <div *ngSwitchCase="'editarTicket'">
            <app-editar-ticket></app-editar-ticket>
          </div>

          <div *ngSwitchCase="'agregarSolucionTicket'">
            <app-add-solucion-ticket></app-add-solucion-ticket>
          </div>

          <div *ngSwitchCase="'pasarTicket'">
            <app-pasar-ticket></app-pasar-ticket>
          </div>






        </div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="cerrarModal()">Cancelar</button>

      </div>

    </div>

  </div>
</div>
