<div class="modal fade" id="modalGeneral" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title fs-5" id="titleModal">{{ titleModal }}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="modalClose"
          (click)="cerrarModal()"
        >X</button>
      </div>
      <div class="modal-body">
        <div [ngSwitch]="tipoFormulario">
          <div *ngSwitchCase="'editarUsuario'">
            <app-editar-usuario></app-editar-usuario>
          </div>

        </div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="cerrarModal()">Cancelar</button>

      </div>

    </div>

  </div>
</div>
