

.btnSearch{
  color: #000;
}

.btnSearch:hover {
  background-color: var(--color-accent);
  color: #000;
}

select{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
  color: #000;
}


