<div class="body-Form">
  <form [formGroup]="myForm" class="formFather">
    <div class="container-DataInfoFind">
      <div class="cont search">
        <div class="containerInfo">
          <label for="text">Buscar Usuario:</label>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="search-BarBtn">
            <input
              type="text"
              class="form-control"
              placeholder=""
              formControlName="per_cedula"
            />
            <button
              type="button"
              class="btnSearch"
              [disabled]="!myForm.value.per_cedula"
              (click)="obtenerUsuario(myForm.get('per_cedula')!.value)"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </form>
      </div>

      <div class="container-BodyData">
        <div class="container-Left">
          <div class="containerInfo">
            <label for="nombre">Nombres</label>
            <div class="container-Input">
              <input
                type="text"
                name="nombre"
                id="nombre"
                formControlName="per_nombre"
                [attr.disabled]="true"
                required
              />
            </div>
          </div>

          <div class="containerInfo">
            <label for="correo">Correo</label>
            <div class="container-Input">
              <input
                type="text"
                name="correo"
                id="correo"
                formControlName="per_correo"
                [attr.disabled]="true"
                required
              />
            </div>
          </div>
        </div>

        <div class="container-Right">
          <div class="containerInfo">
            <label for="apellido">Apellidos</label>
            <div class="container-Input">
              <input
                type="text"
                name="apellido"
                id="apellido"
                formControlName="per_apellidos"
                [attr.disabled]="true"
                required
              />
            </div>
          </div>
          <div class="containerInfo">
            <label for="telefono">Teléfono</label>
            <div class="container-Input">
              <input
                class="inp-info"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                type="text"
                name="telefono"
                id="telefono"
                formControlName="per_telefono"
                placeholder="Ingrese el teléfono"
              />
            </div>
          </div>
          <div class="containerInfo">
            <label for="">Añadir Responsables</label>
            <input
              [spellcheck]="false"
              placeholder="Buscar Usuario"
              type="text"
              (input)="searchUsuario($event)"
              [value]="searchTerm"
            />
            <div class="results">
              <ol>
                <li *ngFor="let suggestion of suggestions">
                  <p (click)="selectSuggestion(suggestion)">
                    {{ suggestion.str_usuario_nombres }} {{ suggestion.str_usuario_apellidos }}
                  </p>
                </li>
              </ol>
            </div>
          </div>
          <div class="containerInfo">
            <!-- Mostrar lista de seleccionados -->
            <label for="">Responsables seleccionados</label>
            <div  *ngFor="let usuario of listaUsuarios; let i = index">
              <div class="listaResponsables">
                <li>{{ usuario.str_usuario_nombres }} {{ usuario.str_usuario_apellidos }}</li>
                <button class="eliminarUsuario" (click)="eliminarUsuario(i)">
                  <i class="material-icons"> cancel</i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="cont">
      <button
        type="submit"
        class="btn-primary-add"
        (click)="agregarTicket()"
        [disabled]="myForm.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
