<div class="body-Form">
  <form [formGroup]="myForm" class="formFather">
    <div class="container-DataInfoFind">
      <div class="cont search">
        <div class="containerInfo">
          <label for="">Incidencia</label>
          <input type="text" formControlName="incidencia_nombre" required>

          <label for="">Añadir Responsable</label>
          <input
          formControlName="usuario"
            [spellcheck]="false"
            placeholder="Buscar Usuario"
            type="text"
            (input)="searchUsuario($event)"
            [value]="searchTerm"
            [disabled]="usuarioSeleccionado !== null"
          />
          <div class="results" *ngIf="suggestions.length > 0">
            <ol>
              <li *ngFor="let suggestion of suggestions">
                <p (click)="selectSuggestion(suggestion)">
                  {{ suggestion.str_usuario_nombres }} {{ suggestion.str_usuario_apellidos }}
                </p>
              </li>
            </ol>
          </div>

          <!-- Mostrar usuario seleccionado -->
          <label for="">Responsable seleccionado</label>
          <div *ngIf="usuarioSeleccionado">
            <div class="listaResponsables">
              <li>
                {{ usuarioSeleccionado.str_usuario_nombres }} {{ usuarioSeleccionado.str_usuario_apellidos }}
              </li>
              <button class="eliminarUsuario" (click)="eliminarUsuario()">
                <i class="material-icons"> cancel</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-BodyData">
        <div class="container-Left">
          <div class="containerInfo">
            <label for="MenuPadre">Estado</label>
            <div class="container-Select">
              <select formControlName="estado" id="estado">
                <option *ngFor="let estado of srvEstados.allEstados" [value]="estado.int_estado_id">
                  {{ estado.str_estado_nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="container-Right">
          <div class="containerInfo">
            <label for="servicio">Servicio</label>
            <div class="container-Select">
              <select formControlName="servicio" id="servicio">
                <option *ngFor="let servicio of srvServicios.allServicios" [value]="servicio.int_servicio_id">
                  {{ servicio.str_servicio_nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="containerInfo">
        <label for="observacion">Observación</label>
        <div>
          <textarea class="solucion"  type="text" name="observacion" id="observacion" formControlName="observacion" required></textarea>
        </div>
      </div>
    </div>

    <div class="cont">
      <button type="submit" class="btn-primary-add" (click)="agregarTicket()" [disabled]="myForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>

