<div class="container-per-rol" >
  <div >
      <button class="btn-usuario"  (click)="returnView(true)" > <i class="material-icons"> arrow_back </i> Regresar</button>
  </div>
  <div class="container-info" >

          <div class="cont int-name" >
              <div class="cont icon" >
                  <i class="material-icons">account_circle</i>
              </div>
              <div class="cont fullname">
                  <div class="profile-Name">
                      <p>Nombre</p>
                      <h1 class="names" >
                          {{UsuariosService.usuario.str_usuario_nombres}}
                      </h1>
                  </div>
                  <div>
                      <h1 class="lastname" >
                          {{UsuariosService.usuario.str_usuario_apellidos}}
                      </h1>
                  </div>
                  <div class="cont email">
                      <h4>
                         {{UsuariosService.usuario.str_usuario_email}}
                      </h4>
                  </div>
              </div>
          </div>

      <div class="profile-Info">

          <div class="cont subtitle" >
              <p class="p-Title">Cédula</p>
          </div>

          <div>
              <p class="p-Content"> {{UsuariosService.usuario.str_usuario_cedula}} </p>
          </div>

      </div>
  </div>

  <div class="cont title-add" >
      <div class="cont title-table" >
          <p>
              Roles del Usuario
          </p>
      </div>

      <button  class="btn-usuario" (click)="addRol('Agregar Rol', 'usuarioRol')" >
          <i class="material-icons"> add </i> Agregar Rol
      </button>
     </div>
<!--
  CONTENEDERORES PARA LA TABLA
-->

<div class="tabla-cuerpo">
  <table class="table table-striped tabla-estilos">

      <thead>
          <tr class="encabezado">
              <th >
                  <div class="d-flex">   #   </div>
              </th>
              <th>
                  <div class="d-flex">Rol</div>
              </th>
              <th>
                  <div class="d-flex">Estado</div>
              </th>
              <th >
                  <div class="d-flex">Acciones</div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor=" let perf of UsuarioRolService.usuariosRoles , let i = index " >

              <td> {{i+1}} </td>
              <td  > {{perf.str_rol_nombre }} </td>
              <td *ngIf="perf.str_usuario_rol_estado ==='ACTIVO' " >
                  <div class="estado">
                      <div class="activo">
                          {{perf.str_usuario_rol_estado }}
                      </div>
                  </div>
              </td>
              <td *ngIf="perf.str_usuario_rol_estado==='INACTIVO' " >
                  <div class="estado">
                      <div class="inactivo">
                          {{perf.str_usuario_rol_estado }}
                      </div>
                  </div>
              </td>

              <td >

                  <button  class="btn btn-primary"
                   (click)="editarPermisos(perf.int_usuario_rol_id, 'Edición de Permisos','editarPermisos')" >
                       <i class="material-icons"> more_horiz </i>
                  </button>
                  <button class="btn btn-danger" *ngIf=" perf.str_usuario_rol_estado==='ACTIVO' "
                    (click)="cambiarEstado(perf.int_usuario_rol_id)"
                  >
                  <i class="material-icons">  delete </i> </button>

                  <button class="btn btn-loop"
                  *ngIf=" perf.str_usuario_rol_estado==='INACTIVO' " (click)="cambiarEstado(perf.int_usuario_rol_id)"
                  >
                  <i class="material-icons"> loop </i> </button>
              </td>
          </tr>
      </tbody>

  </table>
  </div>
</div>

