
<div class="body-Form">
  <form [formGroup]="myForm" action="formRolAdd">

  <div class="container-DataInfoFind">

      <div class="containerInfo">
          <label class="lbl-info" for="nombre">Nombre Servicio:</label>
        <div class="container-Input">
          <input type="text" name="nombre" id="nombre" placeholder="Nombre del Servicio" formControlName="servicio_nombre" required="">
        </div>
      </div>


    <!-- <div class="containerInfo">
        <label class="lbl-info" for="nombre">Descripción:</label>
      <div class="container-Input">
        <input type="text" name="nombre" id="nombre" placeholder="Descripción del Rol" formControlName="rol_descripcion" required>
      </div>
    </div> -->

  </div>

  <div class="cont">

  <button  class="btn-primary-add" type="submit" [disabled]="!myForm.valid"
  (click)="addServicio ()"
  >Guardar</button>
  </div>

  </form>
</div>
