<div class="container">

  <div class="containerNotificaciones">

    <div class="title">
      <h1>Notificaciones</h1>
    </div>


    <div class="listadoNotificaciones" *ngIf="notificaciones.length === 0">
      <mat-card>
        <mat-card-content class="noNotificacion">
          <p>No tienes notificaciones</p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="listadoNotificaciones" *ngIf="notificaciones.length > 0">
      <div class="notificacion" *ngFor="let notificacion of notificaciones; let i =  index">
        <mat-card>
          <mat-card-content class="card">
            <div class="notificacionInfo">
              <div class="notificacionTitulo">
                <h3>{{notificacion.str_notificacion_titulo}}</h3>
              </div>
              <mat-card-actions class="cerrar">
                <button mat-button color="black" (click)="eliminarNotificacion(i)">
                  <mat-icon >cancel</mat-icon>
                </button>
              </mat-card-actions>
              <div class="notificacionDescripcion">
                <p>{{notificacion.str_notificacion_descripcion}}</p>
              </div>
            </div>
            <div class="notificacionFecha">
              <p>{{notificacion.dt_fecha_creacion | date:'short'}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

</div>
