
*{
  width: 100%;
  height: 100%;
  }
  /* Disenio profileTitle */

  .profileTitle{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  /* Disenio containerProfile */
  .containerProfile{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;

  }
  .noContent{
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
  }

  /* Disenio profile-Photo */

  .profile-Photo{
    width: 100%;
    height: 100%;
    display: grid;
    /* place-items: center; */
    place-content: center;

  }

  /* Disenio profile-Name */

  .profile-Name{
    display: grid;
    place-content: center;
  }

  /* Disenio profile-Info */

  .profile-Info{
    display:flex;
  }



   /* -------------------------------------------------------------------------- */


  /* Disenio del profile-IMG */
  .profile-IMG{
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
  }


  /* Disenio Contenido profile-Name */

  .profile-Name p, h1{
    font-family: Arial, Helvetica, sans-serif;
  }

  .profile-Name p{
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
    color: var(--color-primary);
  }

  .profile-Name h1{
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--bs-gray-dark);
  }

  /* Disenio Contenido profile-Info */
  .profile-Info p{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  .profile-Info .p-Title{
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
    color: var(--color-primary);
  }
  .p-Content{
    padding-top: 0.4rem;
    font-weight: var(--font-weight-bold);
    color: var(--bs-gray-dark);
    font-size: 30px;

  }
  .cuenta .twoColumns .p-Content{
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    color: var(--bs-gray-dark);
  }


  /* Disenio material-icons */
  .material-icons{
    font-size: 200px !important;
    color: var(--bs-gray);
  }
  .info{
    font-size: 30px !important;
    padding: 0px !important;
    width: 2px;
  }

  .material-icons .info{
    padding: 0px !important;
  }

  .twoColumns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .dataInfo{
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }




  .cuenta{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* padding: 2rem; */
    padding-left: 4rem;
    padding-right: 2rem;
    height: 100%;
    width: 100%;

  }
