.tabla-estilos tbody tr {
  cursor: pointer;
  border-top-width: 0.5px;
}
.color:hover {
  background-color: #58ac6d;
  transition: background-color 0.3s ease;
}

.adap{
  max-width: 200px;
}
.general{
  margin: 5px;
}






