.tabla-estilos tbody tr {
  cursor: pointer;
  border-top-width: 0.5px;
}
.color:hover {
  background-color: #58ac6d;
  transition: background-color 0.3s ease;
}

.adap{
  max-width: 200px;
}
.general{
  margin: 5px;
}
.None{
  background-color: #0271b8;
}
.Medium{
  background-color: #fcc531;
}
.Low{
  background-color: #3fae49;
}
.High{
  background-color: #ee9336;
}
.Critical{
  background-color: #d53e3a;
}
.center-text {
  text-align: center;
  border-radius: 5px;
}






