<div class="body-Denied">

  <div class="main-Denied">

    <div class="roundedContainerLogo">
      <img src="../../../assets/img/logo-espoch.svg" alt="logo-espoch">
   </div>

   <div class="containerIcon">
    <i class="material-icons">cancel</i>
   </div>

   <div class="containerInformation">
    <p>Acceso denegado por incumplimiento de permisos.</p>
   </div>

   <a routerLink="/">
    <i class="material-icons">exit_to_app</i>
    Regresar a Inicio
  </a>

  </div>



  <div class="footer-Denied">
    <app-footer></app-footer>
  </div>

</div>
