
<div>
  <table>
    <tr>
      <th>Nombre</th>
      <td>{{ verIncidencia.str_vulnerabilidades_name }}</td>
    </tr>
    <tr>
      <th>Host</th>
      <td>{{ verIncidencia.str_vulnerabilidades_host }}</td>
    </tr>
    <tr>
      <th>Sinopsis</th>
      <td>{{ verIncidencia.str_vulnerabilidades_synopsis }}</td>
    </tr>
    <tr>
      <th>Protocolo</th>
      <td>{{ verIncidencia.str_vulnerabilidades_protocol }}</td>
    </tr>
    <tr>
      <th>Risk Factor</th>
      <td>{{ verIncidencia.str_vulnerabilidades_risk_factor }}</td>
    </tr>
    <tr>
      <th>Descripción</th>
      <td>{{ verIncidencia.str_vulnerabilidades_description }}</td>
    </tr>
    <tr>
      <th>Fecha de Publicación</th>
      <td>{{ verIncidencia.str_vulnerabilidades_plugin_publication_date }}</td>
    </tr>
    <tr>
      <th>Fecha de Modificación del Plugin</th>
      <td>{{ verIncidencia.str_vulnerabilidades_plugin_modification_date }}</td>
    </tr>
    <tr>
      <th>Salida del Plugin</th>
      <td>{{ verIncidencia.str_vulnerabilidades_plugin_output }}</td>
    </tr>
    <tr>
      <th>Metasploit</th>
      <td>{{ verIncidencia.str_vulnerabilidades_metasploit }}</td>
    </tr>
    <tr>
      <th>MSKB</th>
      <td>{{ verIncidencia.str_vulnerabilidades_mskb }}</td>
    </tr>
    <tr>
      <th>XREF</th>
      <td>{{ verIncidencia.str_vulnerabilidades_xref }}</td>
    </tr>
    <tr>
      <th>STIG SEVERITY</th>
      <td>{{ verIncidencia.str_vulnerabilidades_stig_severity }}</td>
    </tr>
    <tr>
      <th>CVE</th>
      <td>{{ verIncidencia.str_vulnerabilidades_cve }}</td>
    </tr>
    <tr>
      <th>CVSS v2.0 Base Score</th>
      <td>{{ verIncidencia.str_vulnerabilidades_cvss_v2_0_base_score }}</td>
    </tr>
    <tr>
      <th>CVSS v2.0 Temporal Score</th>
      <td>{{ verIncidencia.str_vulnerabilidades_cvss_v2_0_temporal_score }}</td>
    </tr>
    <tr>
      <th>CVSS v3.0 Base Score</th>
      <td>{{ verIncidencia.str_vulnerabilidades_cvss_v3_0_base_score }}</td>
    </tr>
    <tr>
      <th>CVSS v3.0 Temporal Score</th>
      <td>{{ verIncidencia.str_vulnerabilidades_cvss_v3_0_temporal_score }}</td>
    </tr>

    <tr>
      <th>Core Impact</th>
      <td>{{ verIncidencia.str_vulnerabilidades_core_impact }}</td>
    </tr>
    <tr>
      <th>Canvas</th>
      <td>{{ verIncidencia.str_vulnerabilidades_canvas }}</td>
    </tr>
    <tr>
      <th>Solution</th>
      <td>{{ verIncidencia.str_vulnerabilidades_solution }}</td>
    </tr>
    <tr>
      <th>See Also</th>
      <td>{{ verIncidencia.str_vulnerabilidades_see_also }}</td>
    </tr>
    <tr>
      <th>Risk</th>
      <td>{{ verIncidencia.str_vulnerabilidades_risk }}</td>
    </tr>
    <tr>
      <th>Port</th>
      <td>{{ verIncidencia.str_vulnerabilidades_port }}</td>
    </tr>
    <tr>
      <th>Plugin ID</th>
      <td>{{ verIncidencia.str_vulnerabilidades_plugin_id }}</td>
    </tr>
    <!-- <tr>
      <th>Plugin Output</th>
      <td>{{ verIncidencia.str_vulnerabilidades_plugin_output }}</td>
    </tr> -->

  </table>




</div>



