<!-- editar-permisos.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<div class="edit-permisos">
  <div class="fatherModal">
    <div class="table">
      <table class="table tabla-estilos">
        <thead>
          <tr class="encabezado">
            <th>
              <div class="d-flex"> MENÚ </div>
            </th>
            <th>
              <div class="d-flex">VER</div>
            </th>
            <th>
              <div class="d-flex">CREAR</div>
            </th>
            <th>
              <div class="d-flex">EDITAR</div>
            </th>
            <th>
              <div class="d-flex">ELIMINAR</div>
            </th>
          </tr>
        </thead>
        <tbody class="tdbody">
          <tr *ngFor="let item of srvPermisos.permisosUsuarioRol; let i = index">
            <td>
              <div class="content-td">
                <i class="material-icons">{{item.tb_menu.str_menu_icono}}</i>
                {{ item.tb_menu.str_menu_nombre }}
              </div>
            </td>
            <td>
              <div class="content-td check">
                <input type="checkbox" [(ngModel)]="item.bln_permiso_ver">
              </div>
            </td>
            <td>
              <div class="content-td check">
                <input type="checkbox" [(ngModel)]="item.bln_permiso_crear">
              </div>
            </td>
            <td>
              <div class="content-td check">
                <input type="checkbox" [(ngModel)]="item.bln_permiso_editar">
              </div>
            </td>
            <td>
              <div class="content-td check">
                <input type="checkbox" [(ngModel)]="item.bln_permiso_eliminar">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="cont">
    <button type="submit" class="btn-primary-add" (click)="addPermiso()">Guardar</button>
  </div>
</div>





