<div class="pFather">

  <div class="pHeader">
    <app-header></app-header>
  </div>

  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="mat-drawer-container asi" mode="side">
      <app-aside></app-aside>
    </mat-drawer>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="bodyApp">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>

  <div class="pFooter">
    <app-footer></app-footer>
  </div>

</div>
<div class="notisFlotante">
  <app-notificaciones></app-notificaciones>
</div>
