.pFather{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pHeader{
  width: 100%;
  height: 56px;
  border-bottom: 1px solid  rgb(180, 26, 18);
}

.pAside-body{
  transition: margin-left .3s ease;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.pFooter{
  height: 5%;
  width: 100%;
  background-color: rgb(180, 26, 18);
  color: white;
}




/* @media (min-width: 992px) {

  .icon {
    position: relative;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .pAside {
    width: 260px;
    transition: width 0.3s ease;
  }

  .pAside.close {
    width: 0;
    transition: width 0.3s ease;
  }
} */
