<div class="cont-filter" *ngIf="mostrarMenuPrincipal">

  <app-search
  [placeholder]="placeholder"
  [filtrando]="filtrando"
  (search)="buscarMenu($event)"
  (buscando)="buscando = $event"
  >
  </app-search>


  <app-filter
    [filtros]="filtros"
    [buscando]="buscando"
    (filtroSeleccionado)="filtrarMenu($event)"
  ></app-filter>
</div>
<div *ngIf="!mostrarMenuPrincipal">
  <button  class="btn-usuario" (click)="regresar()">
    <i class="material-icons">arrow_back</i>
    Regresar</button>
  <!--Datos del menu Seleccionado-->
  <div class="container-info">

    <div class="cont int-name">
      <div class="cont icon">
          <i class="material-icons">{{srvMenus.menuSeleccionado.str_menu_icono}}</i>
      </div>
      <div class="cont fullname">
        <div class="profile-Name">
          <p>Nombre</p>
          <h1 class="names">{{srvMenus.menuSeleccionado.str_menu_nombre}}</h1>
        </div>
        <div class="cont email">
          <h4>{{srvMenus.menuSeleccionado.str_menu_descripcion}}</h4>
        </div>
      </div>
    </div>

    <div class="profile-Info">
      <div class="cont subtitle">
        <p class="p-Title">Path</p>
      </div>
      <div>
        <p class="p-Content">{{srvMenus.menuSeleccionado.str_menu_path}}</p>
      </div>
      <div class="cont subtitle" >
        <p class="p-Title">Estado</p>
      </div>
      <div>
        <p class="p-Content">{{srvMenus.menuSeleccionado.str_menu_estado}}</p>
      </div>
      <div class="cont subtitle" >
        <p class="p-Title">Fecha de Creación</p>
      </div>
      <div>
        <p class="p-Content">{{srvMenus.menuSeleccionado.dt_fecha_creacion | date:'medium'}}</p>
      </div>
      <div class="cont subtitle" >
        <p class="p-Title">Fecha de Modificación</p>
      </div>
      <div>
        <p class="p-Content">{{srvMenus.menuSeleccionado.dt_fecha_actualizacion | date:'medium'}}</p>
      </div>


    </div>

  </div>
</div>


<div class="tabla-cuerpo">
  <div class="containerNoData" *ngIf="!isData && !isLoading">
    <div class="mx-auto" style="margin-top: 64px; margin-bottom: 64px">
      <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 48 48">
        <path
          d="M38.7 40.85 26.65 28.8q-1.5 1.3-3.5 2.025-2 .725-4.25.725-5.4 0-9.15-3.75T6 18.75q0-5.3 3.75-9.05 3.75-3.75 9.1-3.75 5.3 0 9.025 3.75 3.725 3.75 3.725 9.05 0 2.15-.7 4.15-.7 2-2.1 3.75L40.95 38.7q.45.4.45 1.025 0 .625-.5 1.125-.45.45-1.1.45-.65 0-1.1-.45Zm-19.85-12.3q4.05 0 6.9-2.875Q28.6 22.8 28.6 18.75t-2.85-6.925Q22.9 8.95 18.85 8.95q-4.1 0-6.975 2.875T9 18.75q0 4.05 2.875 6.925t6.975 2.875Z"
        ></path>
      </svg>
      <h5 class="mt-2" *ngIf="mostrarMenuPrincipal">Resultado sin datos</h5>
      <h5 *ngIf="!mostrarMenuPrincipal ">No se encontraron submenús de este menú</h5>

      <h6 *ngIf="mostrarMenuPrincipal">
        No se encontraron elementos para esta lista.
      </h6>
    </div>
  </div>

  <div *ngIf="isData  ">
    <table class="table table-striped tabla-estilos">
      <thead>
        <tr class="encabezado">
          <th class="th-head">
            <div class="d-flex">#</div>
          </th>
          <th class="th-head">
            <div class="d-flex">Menú</div>
          </th>
          <th class="th-head">
            <div class="d-flex">Descripción</div>
          </th>
          <th class="th-head">
            <div class="d-flex">Estado</div>
          </th>
          <th>
            <div class="d-flex">Acciones</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of srvMenus.menus; let i = index"  class="color">
          <td>{{ i + 1 }}</td>

          <td (click)="menuSeleccionado(menu)">
            <div class="content-td">
              <i class="material-icons"> list </i>
              <label>
                {{ menu.str_menu_nombre.toUpperCase() }}
              </label>
            </div>
          </td>
          <td>{{ menu.str_menu_descripcion.toUpperCase() }}</td>
          <td *ngIf="menu.str_menu_estado === 'ACTIVO'">
            <div class="estado">
              <div class="activo">
                {{ menu.str_menu_estado }}
              </div>
            </div>
          </td>
          <td *ngIf="menu.str_menu_estado === 'INACTIVO'">
            <div class="estado">
              <div class="inactivo">
                {{ menu.str_menu_estado }}
              </div>
            </div>
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="editarMenu(menu, 'Editar Menú', 'editarMenu')"
            >
              <i class="material-icons">create</i>
            </button>

            <button
              class="btn btn-danger"
              *ngIf="menu.str_menu_estado === 'ACTIVO'"
              (click)="cambiarEstado(menu.int_menu_id, menu.str_menu_estado)"
            >
              <i class="material-icons"> delete </i>
            </button>
            <button
              class="btn btn-loop"
              *ngIf="menu.str_menu_estado === 'INACTIVO'"
              (click)="cambiarEstado(menu.int_menu_id, menu.str_menu_estado)"
            >
              <i class="material-icons"> loop </i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="pagi" *ngIf="isData && mostrarMenuPrincipal ">
    <app-pagination
      [dataLength]="this.srvMenus.menus.length"
      [metadata]="this.srvMenus.metaData"
      [currentPage]="this.srvMenus.metaData.pagination.currentPage"
      (changePage)="changePage($event)"
    >
    </app-pagination>
  </div>
</div>
