
<div class="father">
  <div class="containerBody">

      <!-- Seccion Titulo 'Pantalla de Configuracion' -->
      <div class="set">
        <div class="titleConfiguration">
          <h1>Pantalla de
            <span style="color:#B41A12 ;">
              Configuración
            </span>
          </h1>
          <span style="color:rgb(160, 160, 160);
            font-family: 'Roboto', Arial, sans-serif;
            font-size: 14px;">
            De tu cuenta y de la aplicación
          </span>
        </div>
        <div class="buttonSettings">
          <div class="btn-agg" *ngIf="this.menuTabsSelected ===1 ">
            <app-button-modal
            [tipoModal]="'nuevoMenú'"
            [titleModal]="'Agregar Menú'"
            [contenido]="'Nuevo menú  '"
            [conIcono]="true"
            [icono]="'add'"
            [color]="'#1c1917'"
            >
            </app-button-modal>

          </div>
          <div class="btn-agg" *ngIf="this.menuTabsSelected ===2 ">
            <app-button-modal
            [tipoModal]="'nuevoUsuario'"
            [titleModal]="'Agregar Usuario'"
            [contenido]="'Nuevo Usuario '"
            [conIcono]="true"
            [icono]="'add'"
            [color]="'#1c1917'"
            >
            </app-button-modal>

          </div>
          <div class="btn-agg" *ngIf="this.menuTabsSelected ===3 ">
            <app-button-modal
            [tipoModal]="'nuevoRol'"
            [titleModal]="'Agregar Rol'"
            [contenido]="'Nuevo Rol '"
            [conIcono]="true"
            [icono]="'add'"
            [color]="'#1c1917'"
            >
            </app-button-modal>

          </div>

        </div>

      </div>

      <!--Seccion Navegacion-->
      <nav class="navSection">

        <div class="containerNavOptions" id="menu"  >
          <!--Opcion Mi cuenta-->
          <div class="container-button" id="nav-home-tab">
            <button class="nav-link {{this.menuTabsSelected === 0 ? 'active' : isValue == 1  }} " id="nav-home-tab"
              [routerLink]="'/ajustes/'+ baseUrl + 'cuenta'" type="button">
              Mi cuenta
            </button>
          </div>
            <!--Opción Menú-->
            <div class="container-button" id="nav-profile-tab">
              <button button class="nav-link {{this.menuTabsSelected === 1 ? 'active' : isValue == 2 }}" id="nav-profile-tab"
              [routerLink]="'/ajustes/'+ baseUrl + 'menus'"
              type="button" >
                Menús
              </button>
            </div>
            <!--Usuarios-->
            <div class="container-button" id="nav-contact-tab">
              <button class="nav-link {{this.menuTabsSelected === 2 ? 'active' : isValue == 3}}" id="nav-contact-tab"
                [routerLink]="'/ajustes/'+baseUrl+'usuarios'" type="button">
                Usuarios
              </button>
            </div>
            <!--Roles-->
            <div class="container-button" id="nav-contact-tab">
              <button class="nav-link {{this.menuTabsSelected === 3 ? 'active' : isValue == 4}}" id="nav-contact-tab"
                [routerLink]="'/ajustes/'+baseUrl+'roles'" type="button">
                Roles
              </button>
            </div>

        </div>
      </nav>

      <!--Seccion Contenido-->
      <div class="containerContent">

        <!--Contenido de Cuenta-->
        <div class="tab-pane fade" id="nav-home" *ngIf=" this.menuTabsSelected === 0">
            <app-cuenta2></app-cuenta2>
        </div>

        <!--Contenido de Menus-->
        <div class="tab-pane fade" id="nav-profile" *ngIf=" this.menuTabsSelected === 1">
          <app-menus></app-menus>
        </div>

        <!-- Usuarios-->
        <div class="tab-pane fade" id="nav-contact" *ngIf=" this.menuTabsSelected ===2 " typeView="true" >
            <app-usuarios *ngIf="typeView"></app-usuarios>
        </div>

        <!-- Roles-->
        <div class="tab-pane fade" id="nav-contact" *ngIf=" this.menuTabsSelected ===3 " typeView="true" >
            <app-roles *ngIf="typeView"></app-roles>

      </div>






  </div>

</div>
